<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.user.ru-ip-watchdog</string>
<key>ProgramArguments</key><array><string>/bin/bash</string><string>/Library/Application Support/ru-ip-watchdog/ru-ip-watchdog.sh</string></array>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>ThrottleInterval</key><integer>15</integer>
<key>StandardErrorPath</key><string>/var/log/ru-ip-watchdog.err</string>
</dict></plist>
